@using MP.WebApp.Core.User;
@inject IAspNetUser AppUser

@if (AppUser.IsAutheticated())
{
    <div class="widget-header">
        <small class="title text-muted">Bem vindo!</small>
        <div>
            <label>Olá @AppUser.Name!</label>
            <a asp-controller="User" asp-action="Logout"> Sair</a>
        </div>
    </div>
}
else
{
    <div class="widget-header">
        <small class="title text-muted">Bem vindo!</small>
        <div>
            <a asp-controller="User" asp-action="Register">Crie sua conta</a> <span> | </span>
            <a asp-controller="User" asp-action="Login"> Login</a>
        </div>
    </div>
}